name: Notificación CI

on:
  push:
    branches:
      - main

jobs:
  notificar:
    runs-on: ubuntu-latest

    steps:
    - name: Enviar notificación a ntfy.sh
      run: |
        curl -d "Se ha realizado un push en la rama main" https://ntfy.sh/devops-itla
