name: Notificación CI

on:
  push:
    branches:
      - main

jobs:
  notificar:
    runs-on: ubuntu-latest

    steps:
    - name: Enviar notificación a ntfy.sh
      run: |
        curl -d "Push en main realizado por Sandel Arache 2023-1070" https://ntfy.sh/devops-itla
